.home {
	.navbar {
		&.bg-inverse {
			background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
		}
	}
}

.application {
	.navbar {
		&.bg-inverse {
		  width: 100%;
		  color: rgb(72, 72, 72);
		  background-color: rgba(255, 255, 255,.5);
		  position: absolute;
		  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			position: relative;
			
			li {
				a {
					color: rgb(72, 72, 72) !important;
				}
			}

		}
	}
}

.logo {
	padding: 0;
	width: 140px;

	@media #{$medium-and-up} {
		float: left;
	}

	@media #{$small-screen-and-down} {
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
	}
}