.left-side {
	border-right: 1px solid #DBDBDB;
	float: left;
	width: 100%;
	h2 {
		color: #d0d0d0;
    font-size: 13px;
    font-weight: normal;
    margin: 15px 0;
    text-transform: capitalize;
	}

	ul {
		padding: 0;

		li {
			list-style: none;

			a {
				color: #6f6f6f;
				display: block;
				float: left;
				font-size: 15px;
				font-weight: normal;
				padding: 7px 0 7px 10px;
				width: 85%;
				cursor: pointer;
			}

			i {
				color: #008888;
				margin: 5px 0;
			}
		}
	}
}