.foods {
	// overflow: hidden;

	.banner-init {
	  background-color: rgba($c-black, $c-alpha-light);
	  background-image: url(asset-path('bg_2.jpg'));
	  background-repeat: no-repeat;
	  background-size: cover;
	  color: white;
	  height: 100%;
	  padding-top: 10%;

	  .card-step-explication {
	  	padding: 48px 0;
	  	background-color: $color-dinneer-green;
	  	text-align: left;

	  	.btn {
	  		border: none;
	  		border-radius: 2px;
	  		background-color: $color-dinneer-red;
		    padding: 10px 20px;
		    margin-top: 20px;
    		border-bottom: 2px solid $color-dinneer-red-dark;

    		@media #{$small-screen-and-down} {
    			display: block;
    			width: 100%;
    			white-space: nowrap;
  				overflow: hidden;
  				text-overflow: ellipsis;
    		}

    		&:hover {
    			background-color: rgb(249, 107, 97);
    		}
	  	}

	  	h1 {
	  		font-weight: bold;
	  	}
	  }
	}
}