.header {
  background-color: rgba($c-black, $c-alpha-light);
  background-image: url(asset-path('bg_1.jpg'));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0;
  color: white;

  .btn-primary {
    margin-top: 5%;
    background-color: transparent;
    border: none;
    border-radius: 2px;
    font-size: 26px;
    height: 68px;
    letter-spacing: .5px;
    padding: 0 60px;
    text-transform: uppercase;
    font-weight: 700;
    border: 3px solid white;
    line-height: 65px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    	text-decoration: none;
    	color: #fff;
    }
	}	
}