.btn-group-radio {
  display: block;
  
  input[type=radio] {
    visibility: hidden;
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;

    &:checked + .btn {
      color: #333333;
      background-color: #e6e6e6;
      *background-color: #d9d9d9;
      background-color: #cccccc \9;
      background-color: #e6e6e6;
      background-color: #d9d9d9 \9;
      background-image: none;
      outline: 0;
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
  }

  input:first-child + .btn {
    margin-left: 0;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-left-radius: 4px;
  }
}