// Átomo: Fonte
//--------------------------------------------------

// Helvetica Neue
@font-face {
    font-family: "Helvetica Neue";
    src: url(font-path('HelveticaNeue.otf'));
    font-weight: 400;
}

// Circular Book
@font-face {
    font-family: "Circular";
    src: url(font-path('Circular_Air-Book.woff'));
    font-weight: 400;
}

// // Roboto bold
// @font-face {
//     font-family: "Helvetica Neue";
//     src: url(font-path('Roboto/Roboto-Bold.ttf'));
//     font-weight: 700;
// }