<div class="login-card">
  <h1>Admin</h1><br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, placeholder: "E-mail" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Senha" %>

    <%= f.submit "Entrar", class: "login login-submit" %>
  <% end %>
</div>