.m-upload-photos {
  .img-holds {
    box-shadow: 0 0 3px 1px #8c8c8c;
    float: left;
    margin: 13px 9px;
    position: relative;
    width: 30%;
    padding: 0;

    img {
      width: 100%;
    }
  }
}