// Adding default margin bottom to row

.row {
  margin-bottom: 40px;
  & .row {
    margin-bottom: 0;
  }
}

// Form

label {
  color: $c-gray-light;
  font-size: 14px;
}

// Buttons

.btn {
  @include default-transition;
  text-transform: uppercase;
}

//Alerts

.alert {
	// margin-top: $navbar-padding-vertical;
	// position: absolute;
  // margin: -15px 0;
}

.navbar {
  height: 61px;
  font-size: 14px;

  .nav-item {
    line-height: 30px;
  }

  &.bg-inverse {
    color: #eceeef;
    background-color: transparent;
    position: absolute;
    width: 100%;
  }
}