// Bootstrap overwrites
//------------------------------------------------

// Pagination

$pagination-color:                     $c-blue !default;
$pagination-hover-color:               $c-blue !default;
$pagination-active-bg:                 $c-blue !default;

$link-hover-color:           inherit !default;