// Colors
//------------------------------------------------

$c-blue: #4A90E2 !default;

$c-green: #73BD00 !default;
$c-green-light: #8ECD49 !default;
$c-green-flash: #7ED321 !default;

$c-red: #D0021B !default;
$c-red-dark: #C10000 !default;
$c-red-light: #E46D7B !default;
$c-red-flash: #FF5A6F !default;

$c-yellow-light: #FFB90F !default;
$c-yellow-lightest: #FFFCD5 !default;

$c-gray-brand: #676867 !default;
$c-gray-medium: #AAA !default;
$c-gray-light: #999 !default;
$c-gray-lighter: #CCC !default;
$c-gray-lightest: #F2F2F2 !default;

$c-white: #FFF !default;
$c-black: #000 !default;
$c-subtitle: #484848 !default;

$color-dinneer-blue: #1D61A7 !default;
$color-dinneer-red: #F44336 !default; //#F15A4F
$color-dinneer-yellow: #FFBE00 !default;
$color-dinneer-violet: #B6336A !default;
$color-dinneer-blue-navy: #1F7BA6 !default;
$color-dinneer-orange: #F68329 !default;
$color-dinneer-green: #00897B !default;

$color-dinneer-blue-dark: #4156d0 !default;
$color-dinneer-red-dark: #B71C1C !default; //#F15A4F

$c-alpha-light: 0.2;
