 @mixin align($align) {
  -webkit-flex-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}
// Default shadow

@mixin default-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

// Default min width

@mixin default-min-width {
  min-width: 768px;
}

// Default transition

@mixin default-transition {
  @include transition(all 0.2s ease-in-out);
  -webkit-backface-visibility: hidden;
}

// Reset margins

@mixin reset-margins {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: 0;
}

// SVG Injector alt text fix

@mixin svg-injector-fix {
  font-size: 8px;
}

// Center vertically and horizontally

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}