//------------------------------------------------
// Observações:
// - As variáveis de cor começam com "c-" (custom)
//   para diferenciar das variáveis do Bootstrap
//------------------------------------------------


// Typography
//------------------------------------------------

// Font weights

$light: 300;
$regular: 400;
$bold: 700;

// Divider
//------------------------------------------------

$color-divider: rgba($c-black, 0.07);
$color-divider-dark: rgba($c-black, 0.15);

// Buttons
//------------------------------------------------

$color-btn-primary: $c-green;
$color-btn-secondary: $c-blue;
$color-btn-terciary: $c-gray-light;
$color-btn-warning: $c-red;
$color-btn-spy-mode: $c-red-dark;

// Spy mode
//------------------------------------------------

$color-spy-mode: $c-red-dark;

// Dinneer front icons
//------------------------------------------------

$ic-spy-mode: "\e61e";
$ic-arrow-back: "\e61c";
$ic-arrow-forward: "\e61d";
$ic-battery: "\e61b";
$ic-add: "\e600";
$ic-arrow-drop-down: "\e601";
$ic-arrow-drop-up: "\e602";
$ic-notifications-off: "\e603";
$ic-delete: "\e604";
$ic-download: "\e605";
$ic-email: "\e606";
$ic-filter: "\e607";
$ic-finish: "\e608";
$ic-indicator-active: "\e609";
$ic-indicator-inactive: "\e60a";
$ic-info-outline: "\e60b";
$ic-list: "\e60c";
$ic-no-content: "\e60d";
$ic-notifications-on: "\e60e";
$ic-password: "\e60f";
$ic-play-outline: "\e610";
$ic-report: "\e611";
$ic-routes: "\e612";
$ic-routes-average-speed: "\e613";
$ic-routes-full-throttle: "\e614";
$ic-routes-maximum-speed: "\e615";
$ic-routes-play: "\e616";
$ic-routes-stop: "\e617";
$ic-routes-stops: "\e618";
$ic-routes-total-distance: "\e619";
$ic-routes-total-time: "\e61a";

/*** Toasts ***/
$toast-height: 48px !default;
$toast-color: #323232 !default;
$toast-text-color: #fff !default;

/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$small-screen-down: 543px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$small-screen-and-down: "only screen and (max-width : #{$small-screen-down})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;