<% if flash[:alert].present? %>
	<div class="alert alert-danger"><%= flash[:alert].html_safe %></div>
<% end %>
<% if flash[:notice].present? %>
	<div class="alert alert-success"><%= flash[:notice].html_safe %></div>
<% end %>
<% if flash[:info].present? %>
	<div class="alert alert-info"><%= flash[:info].html_safe %></div>
<% end %>