<div class="left-side">
  <h2><%= t('manage_dish.basic') %></h2>
  <ul>
    <li>
      <%= link_to t('manage_dish.calendar'), manage_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
    <li>
      <%= link_to t('manage_dish.price'), price_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
  </ul>

  <h2><%=  t('manage_dish.menu') %></h2>
  <ul>
    <li>
      <%= link_to t('manage_dish.ad'), ad_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
    <li>
      <%= link_to t('manage_dish.will_be_served'), will_be_served_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
    <li>
      <%= link_to t('manage_dish.photos'), photos_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
  </ul>

  <h2><%=  t('manage_dish.settings') %></h2>
  <ul>
    <li>
      <%= link_to t('manage_dish.about_place'), about_place_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
    <li>
      <%= link_to t('manage_dish.ads'), ads_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
    <li>
      <%= link_to t('manage_dish.location'), manage_dish_food_path(@food) %>
      <i class="material-icons">&#xE145;</i>
    </li>
  </ul>

</div>