<nav class="navbar navbar-full navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <%= image_tag('dinneer-logo.png', class: 'logo') %>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Como funciona? <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Ajuda</a>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item active">
          <a class="nav-link" href="#"><%= current_user.email %></a>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href="#">Cadastre-se</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" data-toggle="modal" data-target=".bd-login-modal-sm" href="#">Entrar</a>
        </li>
      <% end -%>
    </ul>
  </div>
</nav>


<div class="modal fade bd-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="Login" 
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-signup">

        <div class="modal-body">
            
          <%= form_for(:user, as: "user", url: session_path(:user), class: '') do |f| %>
            
            <div class="form-group">
              <%= link_to 'Fazer login com o facebook', user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-facebook' %>
            </div>
            
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', autofocus: true, 
                placeholder: 'E-mail' %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, class: 'form-control', autocomplete: "off", 
                placeholder: 'Password' %>
            </div>

            <div class="form-group">
              <%= f.submit "Entrar", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
