<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-xs-center center-block">
        <h1 >Sinta-se em casa</h1>
        <h3>Dinneer conecta pessoas que amam novas experiências gastronômicas com anfitriões que oferecem almoços e jantares exclusivos em suas casas em 22 países</h3>
        <%= link_to 'Torna-se um anfitrião', new_food_path, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>
</div>