<div class="container-fluid">

	<div class="row">
    <div class="col-sm-2">
      <%= render 'shared/left_side' %>
    </div>

    <div class="col-sm-6 page-content-wrap">
      <div class="container">
        
      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>

</div>