<div class="container-fluid">

	<div class="row">
    <div class="col-sm-2">
      <%= render 'shared/left_side' %>
    </div>

    <div class="col-sm-6 page-content-wrap">
      <div class="container">

        <%= render "shared/flash_messages" %>
        
        <div class="calender-box-main">

          <%= form_for @food , role: "form" do |f| %>
            <div class="field col-sm-12">
               <%= f.label t('ad.title'), class: 'a-subtitle' %>
               <span><%=t('ad.description') %></span>
            </div>

            <div class="form-group">
              <%= f.label :title, t('ad.ad_title') %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :description, t('ad.ad_description') %>
              <%= f.text_area :description, class: 'form-control' %>
            </div>

            <%= f.hidden_field :step, value: 3 %>

            <%= f.submit 'Continue', class: 'btn btn-primary pull-xs-left' %>

          <% end -%>

        </div>  

      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>

</div>