<div class="container-fluid">

	<div class="row">
    <div class="col-sm-2">
      <%= render 'shared/left_side' %>
    </div>
    <div class="col-sm-6 page-content-wrap">
      <div class="container">

        <%= render "shared/flash_messages" %>
        
        <div class="calender-box-main">

          <%= form_for @food , role: "form" do |f| %>
            <div class="field col-sm-12">
               <%= f.label :available, t('calendar.title'), class: 'a-subtitle' %>
               <div class="btn-group" role="group" aria-label="Basic example">

                 <%= f.radio_button :available, :ever, style: 'display: none' %>
                 <%= f.label :available, "Ever", value: :ever, class: 'btn btn-secondary' do %>
                   <%= image_tag('icons/ic_calendar.svg', class: 'icon-16') %>
                   <span><%= t('calendar.ever') %></span>
                 <% end -%>

                 <%= f.radio_button :available, :sometimes, style: 'display: none' %>
                 <%= f.label :available, "Sometimes", value: :sometimes, class: 'btn btn-secondary' do %>
                   <%= image_tag('icons/ic_calendar.svg', class: 'icon-16') %>
                   <span><%= t('calendar.sometimes') %></span>
                 <% end -%>

                 <%= f.hidden_field :step, value: 1 %>

                 <%= f.submit 'Continue', class: 'btn btn-primary pull-xs-left' %>

              </div>
            </div>
          <% end -%>

        </div>  

      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>

</div>