<% content_for :body_class, "#{controller_name}" %>

<section class="banner-init">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-xs-center center-block">
        <div class="col-sm-12 col-md-6 col-lg-4 space-md-8 space-md-top-8 text-contrast card-step-explication">
        
          <div class="col-sm-offset-1 col-sm-10 col-lg-10 col-left">
            <h1>O Dinneer precisa de pessoas como Você</h1>
            <h4>Que adora cozinhar e receber visitantes</h4>
          </div>
        </div>

     		<div class="col-sm-12 col-md-6 col-lg-8 space-md-8 space-md-top-8 text-contrast">

          <%= form_for @food do |f| %>
            
           <div class="field col-sm-12">
              <%= f.label :meal, t('food.meal'), class: 'a-subtitle' %>
              <div class="btn-group btn-group-radio" role="group" aria-label="Basic example">

                <%= f.radio_button :meal, :breakfast, style: 'display: none' %>
                <%= f.label :meal, "Breakfast", value: :breakfast, class: 'btn btn-secondary' do %>
                  <%= image_tag('icons/ic_breakfast.svg', class: 'icon-16') %>
                  <span><%= t('food.breakfast') %></span>
                <% end -%>

                <%= f.radio_button :meal, :lunch, style: 'display: none' %>
                <%= f.label :meal, "Lunch", value: :lunch, class: 'btn btn-secondary' do %>
                  <%= image_tag('icons/ic_lunch.svg', class: 'icon-16') %>
                  <span><%= t('food.lunch') %></span>
                <% end -%>

                <%= f.radio_button :meal, :dinner, style: 'display: none' %>
                <%= f.label :meal, "Dinner", value: :dinner, class: 'btn btn-secondary' do %>
                  <%= image_tag('icons/ic_dinner.svg', class: 'icon-16') %>
                  <span><%= t('food.dinner') %></span>
                <% end -%>
             </div>
           </div>

           <div class="field col-sm-12">
              <%= f.label :serves, t('food.serves'), class: 'a-subtitle' %>
              <div class="btn-group btn-group-radio" role="group" aria-label="Basic example">
                <%= f.radio_button :serves, 2, style: 'display: none' %>
                <%= f.label :serves, "serve 2 pessoas", value: 2, class: 'btn btn-secondary' do  %>
                  <%= image_tag('icons/ic_waiter', class: 'icon-16')%>
                  <span><%= t('food.serve', people: 2)%></span>
                <% end -%>

                <%= f.radio_button :serves, 3, style: 'display: none' %>
                <%= f.label :serves, "serve 3 pessoas", value: 3, class: 'btn btn-secondary' do  %>
                  <%= image_tag('icons/ic_waiter', class: 'icon-16')%>
                  <span><%= t('food.serve', people: 3)%></span>
                <% end -%>

                <%= f.radio_button :serves, 4, style: 'display: none' %>
                <%= f.label :serves, "serve 4 pessoas", value: 4, class: 'btn btn-secondary' do  %>
                  <%= image_tag('icons/ic_waiter', class: 'icon-16')%>
                  <span><%= t('food.serve', people: 4)%></span>
                <% end -%>
             </div>
              
             <% if current_user.present? %>
                <%= f.submit 'Continue', class: 'btn btn-primary pull-xs-left' %>
              <% else %>
                <a class="nav-link btn btn-primary" data-toggle="modal" data-target=".bd-login-modal-sm" href="#">Continue</a>
              <% end -%>
           </div>

          <% end %>

        </div>


      </div>
    </div>
  </div>
</section>