<div class="container-fluid">

	<div class="row">
    <div class="col-sm-2">
      <%= render 'shared/left_side' %>
    </div>

    <div class="col-sm-6 page-content-wrap">
      <div class="container">

        <%= render "shared/flash_messages" %>
        
        <div class="calender-box-main">

          <%= form_for @food , role: "form" do |f| %>
            <div class="field col-sm-12">
               <%= f.label t('photos.title'), class: 'a-subtitle text-xs-center' %>
               <span class="d-block text-xs-center"><%=t('photos.description') %></span>
            </div>

            <div class="field col-sm-12">
              <%= f.label :photo %><br>
              <%= f.file_field :photo %>
            </div>

            <%= f.hidden_field :step, value: 5 %>

            <div class="field col-sm-12">
              <%= f.submit 'Enviar', class: 'btn btn-primary pull-xs-left' %>
            </div>
          <% end -%>

        </div>
        
        <div class="row m-upload-photos col-sm-12">
          <% if @food.food_attachments.present? %>
              <% @food.food_attachments.each do |image| %>
                <div class="col-sm-3 img-holds">
                  <%= image_tag(image.photo.thumb.url) %>
                </div>
              <% end -%>
          <% end -%>
        </div>

      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>

</div>