<div class="container-fluid">

	<div class="row">
    <div class="col-sm-2">
      <%= render 'shared/left_side' %>
    </div>
    <div class="col-sm-6 page-content-wrap">
      <div class="container">

        <%= render "shared/flash_messages" %>
        
        <div class="calender-box-main">

          <%= form_for @food , role: "form" do |f| %>
            <div class="field col-sm-6">
               <%= f.label :currency, t('price.title'), class: 'a-subtitle' %>
               <span><%=t('price.description') %></span>
            </div>

            <div class="field col-sm-6">
              <div class="btn-group" role="group" aria-label="Basic example">

              <div class="form-group">
                <%= f.label :price, t('price.price_ad') %>
                <div class="input-group">
                  <% if @food.currency.present? %>
                    <div class="input-group-addon"><%= @food.currency.symbol %></div>
                  <% else %>
                    <div class="input-group-addon">$</div>
                  <% end -%>
                  <%= f.text_field :price, class: 'form-control' %>
                </div>
              </div>

                <div class="form-group">
                  <%= f.label t('price.currency') %>
                  <%= f.collection_select(:currency_id, Currency.all, :id, :currency_code, 
                    {}, { class: 'form-control' }) %>
                </div>

                 <%= f.hidden_field :step, value: 2 %>

                 <%= f.submit 'Continue', class: 'btn btn-primary pull-xs-left' %>

              </div>
            </div>
          <% end -%>

        </div>  

      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>

</div>