<div class="container-fluid">

	<div class="row">
    <div class="col-sm-2">
      <%= render 'shared/left_side' %>
    </div>

    <div class="col-sm-6 page-content-wrap">
      <div class="container">

        <%= render "shared/flash_messages" %>
        
        <div class="calender-box-main">

          <%= form_for @food , role: "form" do |f| %>
            <div class="field col-sm-12">
               <%= f.label t('will_be_served.title'), class: 'a-subtitle' %>
               <span><%=t('will_be_served.description') %></span>
            </div>

            <div class="form-group">
              <%= f.label :appetizer, t('will_be_served.appetizer') %>
              <%= f.text_area :appetizer, class: 'form-control' %>
            </div>

            <h2><%= t('will_be_served.main_course') %></h2>
            <div class="form-group">
              <%= f.label :main_course, t('will_be_served.main_course_description') %>
              <%= f.text_area :main_course, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :final_dish, t('will_be_served.final_dish_description') %>
              <%= f.text_area :final_dish, class: 'form-control' %>
            </div>

            <%= f.hidden_field :step, value: 4 %>

            <%= f.submit 'Continue', class: 'btn btn-primary pull-xs-left' %>

          <% end -%>

        </div>  

      </div>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>

</div>