<!DOCTYPE html>
<html>
	<head>

	  <meta charset="UTF-8">

	  <title>[Admin] Dinneer</title>

	  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
	  <%= yield %>
	</body>

</html>