<!DOCTYPE html>
<html>
<head>
  <title>DinneerWeb</title>
  <!-- A partir daqui manter no desenvolvimento -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="Dinneer - Um novo conceito de comer fora">
  <meta name="robots" content="index,follow">
  <!-- Favicon -->
  <!-- <%= favicon_link_tag %> -->

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#ff5a5f">
  <meta name="apple-mobile-web-app-title" content="Fifty">

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>

  <script>
    WebFont.load({
      google: {
        families: ['Material Icons']
      }
    });
  </script>

</head>
<body class="<%= body_class(controller_name) %> <%= yield(:body_class) %>">

  <%= render "shared/navbar" %>
  <%= yield %>

</body>
</html>
